/* parameters */
.param-label {
    display: block;
}
.form-group {
    width: 120px;
}
.form-group input, select {
    width: 100%;
}


/* navbar */
.nav-item a {
    cursor: pointer;
}

/* scoring grid */
.score-rect {
    fill: #ffffff;
    stroke: #d1d1d1;
    stroke-width: 1px;
    fill-opacity: .1;
    stroke-opacity: 0.9
}
.score-text {
    font-size: 18px;
    fill: black;
}
.score-option-text {
    font-size: 18px;
    fill: #d3d3d3;
}

.score-arrow {
    fill: #000000;
}

.cell {
    font-size: 40px;
}
.cell-rect {
    fill: #ffffff;
    fill-opacity: .1;
    stroke-opacity: 0.9
}

/* generic */
.margin {
    margin: 20px;
}

.center-text {
    width: 100%;
    text-align: center;
}